@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.latest-episodes-swiper {
  overflow: visible;
}

.latest-episodes-swiper .swiper-button-prev,
.latest-episodes-swiper .swiper-button-next {
  top: 60%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 9999px;
  background: rgba(0, 0, 0, 0.55);
  color: #ffffff; /* purple-400 */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

.latest-episodes-swiper .swiper-button-prev {
  left: -1.25rem;
}

.latest-episodes-swiper .swiper-button-next {
  right: -1.25rem;
}
